.profileImage {
    height: 80px;
    width: 80px;
}
/*#main {
    padding-left: 250px;
    padding-top: 60px;
}*/


/*.menu {
    font-size: 12px;
}



.menu li.active {
    font-weight: bold;
}

.menu li {
    list-style-type: none;
}

#footer{
    background-color: #222;
    padding: 8px;
}

#sidebar {
    background: #2a2c36;
    position: fixed;
    left:0;
    height:100%;
    width:250px;
}*/
