@{ 
    ViewBag.Title = "Home Page";
}


<h1>my home page</h1>
<p> some placeholder text</p>

<form>
    <div>
        <label>Site</label>
        <input />
    </div>
    <div>
        <label>Url</label>
        <input />
    </div>
    <div><input type="submit" value="Add" /></div>
</form>