@model IEnumerable<CouseFromGround.DataModels.Trip>
@{
    ViewBag.Title = "Home Page";
}

<h1>The World</h1>
<p></p>
<div class="row">
    <div class="col-md-12">
        <h1>Welcom</h1>
        <a asp-controller="App" asp-action="trips" class="btn">trips</a>
    </div>
</div>